html {
    background: white;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f2f2, endColorstr=white);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f2f2f2, endColorstr=white)";
    background: -webkit-linear-gradient(#f2f2f2, white); 
}

body {
    overflow:hidden;
}

img{
	border-radius: 5px;
    float: right;
    margin: 20px 0px 0px 0px;
	width:175px;
	height:175px;
}


a:link {
    text-decoration: none;
	color:#5e5ea5;
}

a:visited {
    text-decoration: none;
	color:#5e5ea5;
}

a:hover {
    text-decoration: none;
	color:#6d6dd6;
}

a:active {
    text-decoration: none;
	color:#5e5ea5;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	position: static;
	display:block;
	margin: auto;
	margin-bottom:10px;
	text-align: center;
    padding: 10px;
    width: 60vw; 
    height: 100%;
	font-size: 3.5em;
	color: #555555;
	-webkit-linear-gradient(#666666, #444444)
	font-weight: 100;
}

form {
	position:static;
	margin: auto;
    padding: 10px;
    display: block;
    width: 60vw; 
    height: 80vh;
}

input { display: none; }
input:checked + label { 
    border: solid 1px rgba(0,0,0,0);
    color: #555555; 
    box-shadow: 0 1px 1px rgba(50,50,50,0), 0 1px 0 rgba(255,255,255,.1) inset;
	background: rgba(200, 200, 200, .17); 
}
label { 
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
    cursor: pointer; 
    display: block; 
    border: solid 1px transparent;
    width: 100%; 
    height: 40px; 
    text-align: center; 
    line-height: 40px; 
    border-radius: 5px; 
    margin-bottom: 10px;
    border: solid 1px rgba(0,0,0,0); 
	color: #999999;
	background: rgba(200, 200, 200, 0); 
}
label:last-child { margin-right: 0; }
label:hover {     
    background: rgba(200, 200, 200, .12); 
    border: solid 1px rgba(0,0,0,0);
	color: #777777;
}
article { 
    height: 0; 
    overflow: hidden; 
	transition:height .25s linear, opacity .15s linear;
    -webkit-transition: height .25s linear, opacity .15s linear; 
    position: relative; 
    top: 0px;
    margin-bottom: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
    font-size: 1.2em;
    line-height: 140%;
    opacity: 0;
	color: #616161;
	text-align: center;
}

@media only screen and (max-device-width: 600px) {
  form { 
    width: 90vw; 
  }
  
  h1 {
	width: 90vw;
	font-size: 5em;
  }
  
  label {
	font-size: 2.2em;
  }
  
  article {
   font-size: 1.9em;
   top: 13px;
  }
  
}

div > input:checked ~ article { height: 40vh; opacity: 1; }
