html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

header h2 {
  font-size: 1.5rem;
}

hr {
  margin: 0;
  border: 0;
  border-top: 2px solid #000;
}

section,
header {
  margin: 2rem auto;
  max-width: 960px;
  display: grid;
  grid-gap: 2rem;
}

li + li {
  margin-top: 0.5rem;
}

ul {
  list-style-position: outside;
  margin-left: 1.5rem;
  line-height: 1.2;
}

section > h1 {
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1;
}

.card {
  border: 2px solid #000;
  padding: 1rem 2rem;
  margin: 0 2rem;
  text-align: left;
}

.card img {
  width: 30%;
  float: right;
  margin: 1rem;
}

.card__title {
  text-decoration: none;
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
}

.card__title h1 {
  font-size: 1.4rem;
}

.card__title h1 a {
  color: #000;
  text-decoration: none;
}

.card__title h1 a:hover {
  text-decoration: underline;
}

.card__title > * {
  display: inline-block;
  margin-right: 1rem;
}

a {
  color: #44f;
}

.contact-section {
  grid-gap: 1rem;
  text-align: center;
}

@media screen and (max-width: 835px) {
  html {
    font-size: 17px;
  }

  .card__title > * {
    display: block;
    margin-right: 1rem;
    text-align: center;
  }

  .card {
    margin: 0 1rem;
    padding: 1rem;
  }
}
